<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            width: 80%;
            margin: auto;
            text-align: center;
        }
    </style>
</head>
<body>
    <div th:insert="~{header::header(Ronit, Shah)}"></div>
    <div class="container">
        <h1>This is About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At maxime vero hic ipsam animi. Vel, quasi repellendus facere autem alias mollitia nisi animi sequi doloribus. Eligendi fuga nemo itaque ab.</p>
    </div>
</body>
</html>