<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>
<body>
    <div class="container mx-auto p-4 bg-gray-100">
        <h1 data-th-text="${title}" class="font-bold text-3xl" >Welcome to Home Page</h1>
        <p th:text="${name}" class="text-gray-700"></p>
        <a th:href="@{${Github}}" class="text-blue-600 hover:text-blue-800"> Github Link </a> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At maxime vero hic ipsam animi. Vel, quasi repellendus facere autem alias mollitia nisi animi sequi doloribus. Eligendi fuga nemo itaque ab.</p>
        <div>
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">CLick Me</button>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
</body>
</html>